@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}

* {
    box-sizing: border-box;
    font-family: OpenSans;
    user-select: none;
}

body {
    margin: 0;
    font-size: 14px;
}

.m-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

::-webkit-scrollbar {
    display: none;
}

.view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    animation: view .4s;
}

.no-anim {
    animation: none !important;
}

@keyframes view {
    0% {
        margin-left: 100px;
        opacity: 0;
    }
}